<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue app</title>
	<link rel="stylesheet" href="theme.css">
</head>
<body>
	<div class="container" id="app">
		<div class="card">
			<h1 :style="{
				color: inputValue.length < 5 ? 'red' : 'green',
				fontSize: '40px',
			}">{{ title }}</h1>
			<div class="form-control">
				<input 
					type="text"
					:placeholder="placeholderString"
					v-model="inputValue"
					@keypress.enter="addNewNote"
				>
			</div>
			<button 
				class="btn"
				@click="addNewNote"
			>
				Add
			</button>
			<hr>
			<ul class="list" v-if="notes.length">
				<li class="list-item" v-for="(myNote, i) in notes">
					{{ toUpperCase(myNote) }}
					<button class="btn danger" @click="removeNote(i, $event)">
						del
					</button>
				</li>
				<hr>
				<li>
					<strong>
						Total count: {{ notes.length }} | doubled: {{ doubleCountComputed }}
					</strong>
				</li>
			</ul>
			<div v-else>
				Заметок пока нет. Добавьте первую
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="app.js"></script>
</body>
</html>